<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="default.xhtml">

    <ui:param name="bodyClass" value="container"/>

    <ui:define name="body">

        <h3>#{label['admin.debug.query']}</h3>

        <h:form styleClass="form-horizontal">
            <h:commandButton action="#{adminDebugBean.loadQueries()}" value="#{label['admin.debug.click']}"
                             styleClass="btn btn-default"/>
        </h:form>

        <h:dataTable rendered="#{adminDebugBean.queries.size() > 0}" value="#{adminDebugBean.queries}" var="query"
                     columnClasses="columns,columns,columns,columns,columns,columns,columns,columns,columns,columns,columns"
                     rowClasses="rows" class="table-striped table-bordered table-responsive table-fullwidth">

            <h:column>
                <f:facet name="header">Id</f:facet>
                #{query.getId()}
            </h:column>
            <h:column>
                <f:facet name="header">Title</f:facet>
                <h:panelGroup style=" overflow: hidden; text-overflow: ellipsis; display:block; white-space: nowrap">
                    #{query.getTitle()}
                </h:panelGroup>
            </h:column>
            <h:column>
                <f:facet name="header">Text</f:facet>
                <h:panelGroup style=" overflow: hidden; text-overflow: ellipsis; display:block; white-space: nowrap">
                    #{query.getText()}
                </h:panelGroup>
            </h:column>
            <h:column>
                <f:facet name="header">QueryCreationTime</f:facet>
                #{query.getQueryCreationTime()}
            </h:column>
            <h:column>
                <f:facet name="header">ResearcherId</f:facet>
                #{adminDebugBean.getUserName(query.getResearcherId())}
            </h:column>
            <h:column>
                <f:facet name="header">JsonText</f:facet>
                <h:panelGroup style=" overflow: hidden; text-overflow: ellipsis; display:block; white-space: nowrap">
                    #{query.getJsonText()}
                </h:panelGroup>
            </h:column>
            <h:column>
                <f:facet name="header">Attachments</f:facet>
                #{query.getNumAttachments()}
            </h:column>
            <h:column>
                <f:facet name="header">NegotiatorToken</f:facet>
                <h:panelGroup style=" overflow: hidden; text-overflow: ellipsis; display:block; white-space: nowrap">
                    #{query.getNegotiatorToken()}
                </h:panelGroup>
            </h:column>
            <h:column>
                <f:facet name="header">ValidQuery</f:facet>
                #{query.getValidQuery()}
            </h:column>
            <h:column>
                <f:facet name="header">RequestDescription</f:facet>
                #{query.getRequestDescription()}
            </h:column>
            <h:column>
                <f:facet name="header">EthicsVote</f:facet>
                #{query.getEthicsVote()}
            </h:column>
            <h:column>
                <f:facet name="header">Negotiation Started Time</f:facet>
                #{query.getNegotiationStartedTime().toString()}
            </h:column>
            <!--
            <h:column>
                <f:facet name="header">Biobanks and Collections</f:facet>
                <h:panelGroup id="queryCollectionsDisplay" layout="block">

                    <h:panelGroup styleClass="text" layout="block">
                        <h:outputLabel value="#{label['queryview.title.amountMatchingCollections']}"/>
                        <h:outputText
                                value="#{adminDebugBean.getMatchingBiobanks(query.getId())} #{adminDebugBean.getReachableCollections(query.getId())}"
                                style="margin-left: 22px;">
                        </h:outputText>

                        <a href="#" data-toggle="collapse" data-target="#collection-list" class="label label-default">
                            #{label['queryview.action.showcollections']}
                        </a>
                    </h:panelGroup>

                    <div id="collection-list-{query.getId()}" class="collapse">
                        #{adminDebugBean.getJsTreeJson(query.getId())}
                    </div>
                    <h:outputScript>
                        $(function() {
                            var data1= JSON.parse(document.getElementById("collection-list-{query.getId()}").innerHTML);
                            $('#collection-list-{query.getId()}').jstree({
                                'core': {
                                    'data': data1
                                }
                            });
                        });
                    </h:outputScript>
                </h:panelGroup>
            </h:column>
            -->

            <h:column>
                <f:facet name="header">Reset Negotiation</f:facet>
                <h:form id="form">
                    <!-- Show the start negotiation button only if the negotiation hasn't started yet for a given query. -->
                    <h:commandButton id="resetNegotiation"
                                     rendered="#{query.getNegotiationStartedTime() != null}"
                                     value="#{label['querydetail.action.resetNegotiation.buttonText']}"
                                     action="#{adminDebugBean.restNegotiation(query.getId())}"
                                     title="#{label['querydetail.tooltip.restNegotiation']}"
                                     styleClass="btn btn-primary" style="margin-top: 40px"/>
                </h:form>
            </h:column>
        </h:dataTable>

    </ui:define>
</ui:composition>
