<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="default.xhtml">

	<ui:param name="bodyClass" value="container"/>

	<ui:define name="body">

		<h3>#{label['admin.email']}</h3>

		<h:messages showSummary="true" showDetail="true"
					styleClass="list-group"
					errorClass="list-group-item list-group-item-danger"
					fatalClass="list-group-item list-group-item-danger"
					infoClass="list-group-item list-group-item-info" />

		<h:form styleClass="form-horizontal">
			<div class="col-md-12">
				<div class="form-group">
					<h:outputLabel for="emailAddress" value="#{label['admin.email.address']}" styleClass="col-sm-2 control-label"/>
					<div class="col-sm-10">
						<h:inputText value="#{adminEmailBean.emailAddress}" id="emailAddress" styleClass="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<h:commandButton action="#{adminEmailBean.sendEmail}" value="#{label['admin.email.send']}" styleClass="btn btn-default"/>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>

</ui:composition>
