<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="default.xhtml">

	<ui:param name="bodyClass" value="container"/>

	<ui:define name="body">

		<h3>#{label['admin.status']}</h3>
        Build: #{label['build.date']}

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#{label['admin.table.taskType']}</th>
					<th>#{label['admin.table.lastSuccess']}</th>
					<th>#{label['admin.table.lastSuccessMessage']}</th>
					<th>#{label['admin.table.lastFail']}</th>
					<th>#{label['admin.table.lastFailMessage']}</th>
				</tr>
			</thead>
			<tbody>
				<ui:repeat value="#{applicationBean.successStatus.keySet().toArray()}" var="type">
					<tr class="#{applicationBean.successStatus.get(type).date.after(applicationBean.failStatus.get(type).date) ? 'success' : 'danger'}">
						<td>#{label[type]}</td>
						<td>#{applicationBean.successStatus.get(type).date}</td>
						<td>#{applicationBean.successStatus.get(type).message}</td>
						<td>#{applicationBean.failStatus.get(type).date}</td>
						<td>#{applicationBean.failStatus.get(type).message}</td>
					</tr>
				</ui:repeat>
			</tbody>
		</table>

		<div>
			Git-Branch: #{applicationBean.gitBranch}, Git-Commit-ID: #{applicationBean.gitCommitId}, Version: #{applicationBean.version}
		</div>

	</ui:define>

</ui:composition>
