<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:bbmricc="http://xmlns.jcp.org/jsf/composite/bbmri">


<composite:interface>
    <composite:attribute name="comment" required="true"/>
    <composite:attribute name="person" required="true"/>
    <composite:attribute name="collections" />
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" styleClass="panel panel-default" style="border-color: #ddd">

        <h:panelGroup layout="block" styleClass="panel-heading">

            #{cc.attrs.person.authName}
            <ui:fragment rendered="#{cc.attrs.collections != null and cc.attrs.collections.size() > 0}">
                <h:outputText value=", Collection: "/>
                <ui:repeat value="#{cc.attrs.collections}" var="collection" varStatus="loop">
                    <h:outputText value="#{collection.name}"/> #{!loop.last ? ', ' : ''}
                </ui:repeat>
            </ui:fragment>
            <h:panelGroup styleClass="pull-right">
                <h:outputText value="#{cc.attrs.comment.commentTime}">
                    <f:convertDateTime dateStyle="long" timeStyle="short" type="both"/>
                </h:outputText>
            </h:panelGroup>

        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="panel-body">

            <h:panelGroup layout="block" styleClass="row">

                <h:panelGroup layout="block" styleClass="col-xs-2 col-md-1">

                    <bbmricc:avatar person="#{cc.attrs.person}"/>

                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="col-xs-10 col-md-11">

                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-10">
                            <p class="pre-wrap">#{cc.attrs.comment.text}</p>
                        </h:panelGroup>

                    </h:panelGroup>

                </h:panelGroup>

            </h:panelGroup>

        </h:panelGroup>

    </h:panelGroup>
</composite:implementation>

</html>
