<!--
  ~ Copyright (c) 2017. Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  ~
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">


<composite:interface>
    <composite:attribute name="item" required="true" shortDescription="The query to display"/>
    <composite:attribute name="selectedQuery" required="true" shortDescription="The currently selected query"/>
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" styleClass="deco-none">

        <h:panelGroup layout="block"
                      styleClass="panel panel-default clickable #{cc.attrs.item.query.id == cc.attrs.selectedQuery ? 'selected-query' : ''}">

            <h:panelGroup layout="block" styleClass="panel-heading">

                <h:link outcome="detail" styleClass="detailLink" value="#{cc.attrs.item.query.title}">
                    <f:param name="queryId" value="#{cc.attrs.item.query.id}"/>
                </h:link>

                <h:panelGroup styleClass="pull-right"
                              rendered="#{cc.attrs.item.commentCount > 0}">

                    <h:panelGroup styleClass="badge queryNumberResponsesBadge">
                        <h:outputText
                                title="#{cc.attrs.item.commentCount} #{label['queryview.querycc.attrs.item.amount.comments.text']}"
                                value="#{cc.attrs.item.commentCount}"/>
                    </h:panelGroup>

                    <h:outputText value="#{cc.attrs.item.lastCommentTime}"
                                  styleClass="queryCreationDate"
                                  title="#{label['queryview.querycc.attrs.item.datetime.last.comment']}">
                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm"/>
                    </h:outputText>

                </h:panelGroup>

            </h:panelGroup>


            <h:panelGroup layout="block" styleClass="panel-body">
                <h:panelGroup layout="block" styleClass="row">

                    <h:panelGroup layout="block" styleClass="col-md-11">
                        <h:panelGroup layout="block" styleClass="row">
                            <h:panelGroup layout="block" styleClass="col-md-10 truncate-panel">
                                #{cc.attrs.item.query.text}
                            </h:panelGroup>

                        </h:panelGroup>

                        <h:panelGroup layout="block" styleClass="row">
                            <h:panelGroup layout="block" styleClass="col-md-12">
                                <h:panelGroup styleClass="pull-right">

                                    <h:outputText value="#{cc.attrs.item.query.queryCreationTime}"
                                                  title="#{label['queryview.querycc.attrs.item.datetime.creation']}">
                                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm"/>
                                    </h:outputText>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>

        </h:panelGroup>

    </h:panelGroup>
</composite:implementation>

</html>