<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:bbmricc="http://xmlns.jcp.org/jsf/composite/bbmri"
                template="../components/default.xhtml">

    <!-- Queries page for the owner -->
    
    
    <f:metadata>
		<f:viewParam name="flag" value="#{ownerQueriesBean.flagFilter}" />
		<f:viewAction action="#{sessionBean.clearAllFilters()}" />
	</f:metadata>
		
        

    <ui:param name="bodyClass" value="container body-nomargin"/>
	
    <ui:define name="body">
        <h:panelGroup layout="block" styleClass="row">
            <h3>#{label[ownerQueriesBean.pagetitle]}</h3>
        </h:panelGroup>
		<h:panelGroup
			rendered="#{ownerQueriesBean.queries.size() > 0 or ownerQueriesBean.filterTerms.size() > 0}"
			layout="block">
			<bbmricc:search backingBean="#{ownerQueriesBean}" />
		</h:panelGroup>

		<h:panelGroup
			rendered="#{ownerQueriesBean.queries.size() == 0 and ownerQueriesBean.filterTerms.size() > 0}"
			layout="block" styleClass="col-md-12">
			<h3>#{label['queryview.noSearchResults']}</h3>
		</h:panelGroup>

		<h:panelGroup layout="block">
            <h:panelGroup rendered="#{ownerQueriesBean.queries.size() == 0 and ownerQueriesBean.filterTerms.size() == 0}" layout="block">
                <h3>#{label['queryview.noQueries']}</h3>
            </h:panelGroup>

            <ui:repeat var="queryDto" value="#{ownerQueriesBean.getQueries()}">

                <h:panelGroup layout="block" styleClass="deco-none">
                    <h:panelGroup layout="block" styleClass="panel panel-default clickable #{queryDto.isArchived() ? 'archived-query' : ''} ">
                        <h:panelGroup layout="block" styleClass="panel-heading">
                            <h:form id="queryItemActions">
                                <h:commandLink styleClass="#{queryDto.isStarred() ? 'btn btn-primary' : 'btn btn-default'} btn-xs"
                                               title="#{queryDto.isStarred() ? label['queryview.queryitem.action.unmarkFavorite'] : label['queryview.queryitem.action.markFavorite']}"
                                               action="#{ownerQueriesBean.starQuery(queryDto)}">
                                    <i class="fa fa-star"></i>
                                </h:commandLink>

                                <h:link outcome="detail" title="#{label['queryview.queryitem.action.clickme']}" style="margin-left: 30px;" styleClass="detailLink">
                                    <f:param name="queryId" value="#{queryDto.query.id}"/>
                                    <f:param name="flag" value="#{ownerQueriesBean.flagFilter}"/>
                                    <h:outputText value="#{queryDto.query.title}"/>
                                </h:link>

                                <h:panelGroup styleClass="pull-right">

                                    <h:panelGroup layout="block" styleClass="btn-group queryActionButtons pull-right" role="group" aria-label="...">

                                        <h:commandLink  styleClass="#{queryDto.isArchived() ? 'btn btn-primary' : 'btn btn-default'}"
                                        title="#{queryDto.isArchived() ? label['queryview.queryitem.action.unArchiveMe'] : label['queryview.queryitem.action.archiveMe']}"
                                                        action="#{ownerQueriesBean.archiveQuery(queryDto)}">
                                            <i class="fa fa-folder-open"></i>
                                        </h:commandLink>

                                        <h:commandLink styleClass="#{queryDto.isIgnored() ? 'btn btn-primary' : 'btn btn-default'}"

                                        title="#{queryDto.isIgnored() ? label['queryview.queryitem.action.unIgnoreMe'] : label['queryview.queryitem.action.ignoreMe']}"
                                                       action="#{ownerQueriesBean.ignoreQuery(queryDto)}">
                                            <i class="fa fa-sign-out"></i>
                                        </h:commandLink>

                                    </h:panelGroup>

                                    <h:panelGroup styleClass="badge queryNumberResponsesBadge" rendered="#{queryDto.commentCount > 0}">
                                        <h:outputText title="#{queryDto.commentCount} #{label['queryview.queryitem.amount.comments.text']}"
                                                      value="#{queryDto.commentCount}"/>
                                    </h:panelGroup>

                                </h:panelGroup>
                            </h:form>
                        </h:panelGroup>

                        <h:panelGroup layout="block" styleClass="panel-body">
                            <h:panelGroup layout="block" styleClass="row">
                                <h:panelGroup layout="block" styleClass="col-xs-2 col-md-1">
                                    <bbmricc:avatar person="#{queryDto.queryAuthor}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block" styleClass="col-xs-10 col-md-11">
                                    <h:panelGroup layout="block" styleClass="row queryOwner">
                                        #{queryDto.queryAuthor.authName}
                                    </h:panelGroup>

                                    <h:panelGroup layout="block" styleClass="row">
                                        <h:panelGroup layout="block" styleClass="col-md-12 truncate-panel">
                                            #{queryDto.query.text}
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block" styleClass="row">
                                        <h:panelGroup layout="block" styleClass="col-md-12">
                                            <h:panelGroup styleClass="pull-right">

                                                <h:outputText
                                                    value="#{queryDto.query.queryCreationTime}"
                                                    title="#{label['queryview.queryitem.datetime.creation']}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                                                </h:outputText>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGroup>

                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>

            </ui:repeat>

            <h:outputScript>
                $(function() {
                    setupQueryLinks();
                });
            </h:outputScript>
        </h:panelGroup>
    </ui:define>

</ui:composition>
